html body {
  margin: 0px;
}

.main-header {
  width: 100%;
  height: 40px;
  background: red;
  padding: 10px 30px 10px 30px;
  align-items: center;
}

.signin-header {
  width: 291px;
  height: 36px;
  background: green;
  margin-left: auto;
}

.link-text {
  width: 169px;
  height: 36px;
  margin-top: auto;
  margin-bottom: auto;
  background: yellow;
  float: left;
}

#text {
  margin-left: 10px;
  font-size: 12px;
  text-align: right;
  background: white;
}

#signin-div {
  width: 120px;
  height: 36px;
  background: violet !important;
  float: right;
  justify-content: center;
}

#signin-btn {
  width: 60px;
  height: 36px;
  width: 100%;
  height: 100%;
  border: 1px solid #4C4C4C;
  float: left;
  background-color: #1677C5;
  color: #ECEEF1;
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
  vertical-align: middle;
}
